<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ntalk - Agenda de contatos</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
	<div class="container-fluid">
		<header class="center-block text-center">
			<h1>Ntalk</h1>
			<h4>Bem vindo</h4>
		</header>
	</div>
	<div class="container">