<% include ../header %>
		<div class="well col-md-4 col-md-offset-4">
			<section>
				<form action="/entrar" method="post">
					<div class="form-goup">
						<label for="" class="control-label"></label>
						<input type="text" class="form-control" name="usuario[nome]" placeholder="Seu nome">						
					</div>
					<div class="form-group">
						<label for="" class="control-label"></label>
						<input type="text" class="form-control" name="usuario[email]" placeholder="Seu e-mail">
					</div>
					<button type="submit" class="btn btn-primary btn-block">Entrar</button>
				</form>
			</section>
		</div>
<% include ../footer %>		